.products__container{
  @extend %page;
  align-items: center;

}

.Products {
  position: absolute;
  width: 50%;
  left: 25%;
  align-items: center;
  text-align: center;
}

.Products-Row {
  padding: 10px;
}

.Product {
  padding: 5px;
  margin: 5px;
  display: inline-block;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 4px;
  background-color: grey;
}

.Product:hover{
  box-shadow: 3px 3px 1px 1px black;
  transition: 0.5s;
  cursor: pointer;
}

.Product-img {
  width: 200px;
  height: 200px;
}

