.theaters__container{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100vw;
    // height: calc(100vh - 2rem);
}

.theater{
    display: flex;
    flex-direction: column;
    min-height: 40vh;
}

.theater__movies__container{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    min-height: 32vh;
    width: 100%;
}

.theater__movie{
    margin-top: 0.75rem;
    height: 30vh;
    display: flex;
    flex-direction: column;
    max-width: 25vh;
    width: 25vh;
    box-shadow:  inset 2px 2px 5px 5px  rgb(218, 215, 215);
    border-radius: 0.5rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    z-index: 5;
    &:hover{
        margin-top: 0;
    }
    h4{
        display: inline;
        flex-direction: row;
        margin: 0;
        padding: 0.75rem 0.75rem;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        font-size: medium;
        height: 2.5rem;
}
    .poster__container{
        z-index: 4;
        margin: 0;
        max-height:calc(30vh - 2.5rem);
        display: flex;
        justify-content: center;
        .poster{
            margin:0 1rem;
            height: 100%;
            width: auto;
        }
    }
    .time-slot{
        margin: 0 1rem;
        width: 100%; 
    }
}




@media only screen and (max-width: 820px) {
    
    .theaters__container{ 
        height: calc(100vh - 8rem);
        
        .h3{
            margin: 0.5rem 0;
    }
}

.theater__movies__container{
 
    overflow-x: auto;
}

    .theater__movie{
        margin-top: 0;
        max-width: 33vw;
        padding: 0.75rem;
        margin: 0 0.25rem;
    h4{
        display: none;
    }

    .poster__container{
        margin: 0;
        max-height: unset;
        .poster{
            margin: 0;
            max-height: unset;
        }
    }
}
}

@media only screen and (max-height: 460px) {
    .theater{
        min-height: 50vh; 
        h3{
            margin: 0.5rem;
        }
    }
    
    .theater__movies__container{
        height:40vh;
        
    
    .theater__movie{
        height:40vh;
        
    }

    }
}

@media only screen and (max-width: 460px) {
    .theater__movies__container{
        min-height: 30vh;
    }
    .theater__movie{
        height: 30vh;
        width: 40vw;
        max-width: 100%;
        .poster__container{
        max-width: unset;
        .poster{
            margin: 0;
            max-height: unset;
        }
    }
        h4{
            margin: 0 0.5rem;
        }
        .time-slot{
            margin: 0 auto;
            font-size: small; 
        }
    }

}