.time-slot{
    display: flex;
    align-items: center;
}

.time-slot__container{
    display: flex;
    padding: 0.5rem;
    
}

.time-slot__day{
    width:6rem;
}

.time-slot__hour{
    @extend .modal__option ;
}