.add-comment__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-comment__rating{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.add-comment__comment{
    width: 100%;
    textarea{
        width:100%;
        height:47vh;
    }
}

.movie-ratings__buttons{
    display: flex;
    width:100%;
    height: 100%;;
}


@media only screen and (max-width: 460px) {
    .add-comment-button__text{
        display: none;
    }
    .add-comment__container{
        button{
            width: 100%;
        }
    }
    
    .add-comment__rating{
        flex-direction: column;
        height: 20vh;  
    }
}

@media only screen and (min-width: 460px) {
  
    .add-comment-button__plus{
        display: none;
    }

}

@media only screen and (min-width: 460px){
    .add-comment-button__text{
        font-size: x-small;
    }
    

}
