.news__main{
    @extend %page;
overflow: hidden;
    
    .news__container{
        display: flex;
flex-direction: row;
    overflow-y: auto;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: calc(100vh - 7rem);
    }
    .article{
    padding: 0.5rem;
    margin: 1.5rem 0;
    cursor: pointer;
    img{
        max-height: 40vh;
    }
    h1{
        height: 3rem;
        max-width: 430px;
    }
}
}



@media only screen and (max-width: 820px) {
.news__main{
    align-self: center;
    // min-height: calc(100vh - 25rem);
    // max-height: calc(100vh - 16rem);
    flex-direction: column;
    flex-wrap: unset;
    align-content: unset;
    .article{
        img{
            padding: 0 0.75rem;
            max-width:98vw;
            max-height: unset;
        }
    }
}

    

    
}